SECRET_KEY=django-insecure-dt)jxs-heeq+x$@@m6j%dxy*seqdm@8wk_%y7le_4ai8w4d%uf
ALLOWED_HOSTS=localhost,127.0.0.1
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
<your RSA public key here>
-----END PUBLIC KEY-----"
JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
<your RSA private key here>
-----END RSA PRIVATE KEY-----"
DB_NAME=habitly
DB_USERNAME=habitly
DB_PASSWORD=password
DB_HOST=db
DB_PORT=3306